* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dark {
    background-color: rgba(0, 0, 0, 0.858);
    color: white;

    .navbar{
        a{
            color: white
        }

        button{
            color: white
        }
    }
}

.blue_text {
    color: rgb(60, 130, 240);
}

/* HOME */
.homeText {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.homeHeadContainer {
    display: flex;
    align-items: center;
    grid-column: 1;
    padding: 0 75px;
    margin-top: 40px;
}

.homeHead {
    font-family: 'JetBrains Mono';
    font-size: 64pt;
    font-weight: bold;
    margin-right: 20px;
    white-space: nowrap;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        padding-left: 50px;
    }

    li {
        padding: 0 10px;
    }
}

.headParagraph1 {
    font-family: 'JetBrains Mono';
    font-size: 18pt;
    line-height: 1.33;
    text-align: justify;
    text-justify: inter-word;
    grid-column: 1;
    padding-right: 50px;
    padding-left: 75px;
    padding-top: 40px
}

/* Style for the link images */
.link-images {
    margin-top: 50px; /* Adjust this value as needed */
    margin-left: 30px;

    ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    a {
        margin: 0 10px;
    }

    img {
        width: 20px;
        height: auto;
    }
}

.frontPicture {
    grid-row: 1 / 3;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frontPicture img {
    max-width: 100%;
    height: auto;
}

/* ABOUT */
.experienceBody {
    font-family: 'JetBrains Mono';
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    margin-bottom: 50px;

    h1 {
    font-size: 28pt;
    padding: 10pt 20pt;
    }

    /* Place of employment */
    h2 {
        font-size: 16pt;
        padding: 0 20pt;
        padding-top: 20pt;
    }

    /* Title of position */
    h3 {
        font-size: 12pt;
        padding: 0 20pt;
        padding-bottom: 5pt;
        font-weight: lighter;
    }

    /* Date and details */
    .date {
        font-size: 12pt;
        font-weight: lighter;
        padding: 0 20px;
    }
    ul {
        font-size: 12pt;
        padding: 0 50pt;
        font-weight: lighter;
    }
    li {
        padding: 2.5pt 0;
    }

}

/* OTHER PAGE */
.otherBody{
    font-family: 'JetBrains Mono';

    h1{
        font-size: 28pt;
        padding: 10pt 20pt;
    }
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: flex-end;
    font-size: 16pt;
    font-family: 'Calibri';
    padding: 50px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    li {
        margin-right: 20px;
    }

    a {
        text-decoration: none;
        color: black
    }

    a:hover{
        color: gray
    }

    button {
        background:none;
        border:none;
        margin:0;
        padding:0;
        cursor: pointer;
    }

    img{
        width: 20px;
        height: 20px;
    }
}


/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
